<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="realsense" default="true" />
  <arg name="device_type" default="d415" />

  <arg name="camera_name" default="/rs_camera_1/color" />
  <arg name="image_topic" default="image_rect" />
  <arg name="info_topic" default="camera_info" />
  <arg name="stand_alone" default="true" />  
  <arg name="rviz" default="true"/>

   <!-- Static TFs for testing -->
  <group if="$(arg stand_alone)">
      <node pkg="tf2_ros" type="static_transform_publisher" name="part_1_tf"/>
      <node pkg="tf2_ros" type="static_transform_publisher" name="part_2_tf"/>
      <node pkg="tf2_ros" type="static_transform_publisher" name="part_3_tf"/>
      <node pkg="tf2_ros" type="static_transform_publisher" name="part_4_tf"/>
      <node pkg="tf2_ros" type="static_transform_publisher" name="tag_10_to_part2" args="0.05 0.0 0.0 0 0.0 0.0 /tag_10 /part_2"/>
      <node pkg="tf2_ros" type="static_transform_publisher" name="tag_11_to_part3" args="0.05 0.0 0.0 0 0.0 0.0 /tag_11 /part_3"/>
      <node pkg="tf2_ros" type="static_transform_publisher" name="tag_12_to_part4" args="0.05 0.0 0.0 0 0.0 0.0 /tag_12 /part_4"/>
      <node pkg="tf2_ros" type="static_transform_publisher" name="tag_13_to_part1" args="0.05 0.0 0.0 0 0.0 0.0 /tag_13 /part_1"/>
  </group>

<!-- Object Detection-->
<node pkg="part_detection" name="object_detector_ros" type="object_detector_ros.py"> </node>
<node pkg="part_detection" name="Kalman_filter" type="Kalman_filter.py" output="screen"> </node>

 <!-- RealSense -->
 <group if="$(arg realsense)">
  <include file="$(find realsense_launch)/launch/realsense.launch">
    <arg name="device_type" value="$(arg device_type)"/>
    <arg name="rviz" value="false" />
  </include>
</group>

  <!-- April Tag Tracker -->
  <include file="$(find part_detection)/launch/tag_tracker.launch">
    <arg name="camera_name" value="$(arg camera_name)"/>
    <arg name="image_topic" value="$(arg image_topic)"/>
    <arg name="info_topic" value="$(arg info_topic)"/>
  </include>

  <!-- RViz -->
  <group if="$(arg rviz)">
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find part_detection)/rviz/rviz_config.rviz" />
  </group>

</launch>